@import 'normalize';

//=====Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

//font-family: 'Montserrat', sans-serif;

//===== Colors
$white: #fff;
$black: #000;
$dark: #2B3037;
$light: #f9f9f9;
$gold: #b59b4a;

:root{
  font-size: 10px;
}

*{
  box-sizing: border-box;
}

.benic{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

.container{
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

%title{
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: .5rem;
  text-transform: uppercase;

  @media(max-width: 600px){
    font-size: 2.4rem;
  }

  @media(max-width: 420px){
    font-size: 2rem;
  }
}

%subtitle{
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: .2rem;

  @media(max-width: 600px){
    font-size: 1.8rem;
  }

  @media(max-width: 420px){
    font-size: 1.7rem;
  }
}

%text{
  font-size: 1.8rem;
  line-height: 1.5;

  @media(max-width: 600px){
    font-size: 1.6rem;
  }

  @media(max-width: 420px){
    font-size: 1.5rem;
  }
}


//===== BUTTON
%button{
  @extend %subtitle;

  position: relative;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  border: 2px solid $white;
  z-index: 1;
  animation: none;

  &:before{
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    content: '';
    width: 103%;
    height: 70%;
    background-color: $dark;
    z-index: -1;
    transition: 1s;

  }
  &:after{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    content: '';
    width: 93%;
    height: 114%;
    background-color: $dark;
    z-index: -1;
    transition: 1s;
  }

  &:hover{
    //border-color: $gold;
    &:after, &:before{
      opacity: 0;
      transition: 0s 0.7s;
    }
    &:before{
      animation: expand-height 0.7s ;
    }
    &:after{
      animation: expand-width 0.7s ;
    }
  }

  @keyframes expand-height{
    from{
      height: 114%;
    }
    to {
      height: 0;
    }
  }
  @keyframes expand-width{
    from{
      width: 103%;
    }
    to {
      width: 0;
    }
  }

  a{
    color: $white;
    text-decoration: none;
    display: block;
    padding: 5px 15px;

    &:hover{
      color: $gold;
    }
  }
}