@import 'global';

.benic{
  //===== Header end
  .header{
    position: relative;
    background-image: url('../img/footer_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: $white;

    &__nav-toggler{
      display: none;
    }


    &__inner{
      background-color: $dark;
      position: absolute;
      width: 100%;
      z-index: 3;
    }

    .container{
      display: flex;
    }
    &__logo{
      color: $gold;
      @extend %title;
      display: flex;
      align-items: center;
    }

    &__nav {
      margin: 0 0 0 auto;

      ul{
        position: relative;
        display: flex;
        justify-content: flex-end;

        li{
<<<<<<< HEAD
          list-style: none;
          @extend %button;
=======
          @extend %subtitle;

          list-style: none;
          position: relative;
          font-size: 2rem;
          letter-spacing: 0.5rem;
          text-transform: uppercase;
          border: 2px solid $white;
          z-index: 1;
          animation: none;

          &:before{
            display: block;
            position: absolute;
            box-sizing: border-box;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            content: '';
            width: 103%;
            height: 70%;
            background-color: $dark;
            z-index: -1;
            transition: 1s;

          }
          &:after{
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            content: '';
            width: 93%;
            height: 114%;
            background-color: $dark;
            z-index: -1;
            transition: 1s;
          }

          &:hover{
            //border-color: $gold;
            &:after, &:before{
              opacity: 0;
              transition: 0s 0.7s;
            }
            &:before{
              animation: expand-height 0.7s ;
            }
            &:after{
              animation: expand-width 0.7s ;
            }
          }

          @keyframes expand-height{
            from{
              height: 114%;
            }
            to {
              height: 0;
            }
          }
          @keyframes expand-width{
            from{
              width: 103%;
            }
            to {
              width: 0;
            }
          }

          a{
            color: $white;
            text-decoration: none;
            display: block;
            padding: 5px 15px;

            &:hover{
              color: $gold;
            }
          }
>>>>>>> a732b3ef2563fa03fddc1eb937897dbb0823737e
        }

        li+li{
          margin-left: 2rem;
        }

      }
    }

    &__content{
      min-height: 100vh;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &-header{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.1rem;
        z-index: 2;
        border-bottom: 1px solid $white;
        border-top: 1px solid $white;
        height: 25%;
        width: 100%;
        margin: 0;

        @extend %title;
      }

      &-blur{
        background-image: url('../img/footer_bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        position: absolute;
        height: 25%;
        filter: blur(0.5rem);
        width: 100%;
        z-index: 1;
      }
    }
  }
  //===== Header end

  //===== Advatages
  .advantages{
    @extend .container;

    &__inner{
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      padding-bottom: 40px;
      flex-wrap: wrap;

    }

<<<<<<< HEAD
    .width100{
      //width: 100%;
    }

    .center{
      margin: 0 auto;
    }

=======
>>>>>>> a732b3ef2563fa03fddc1eb937897dbb0823737e
    &__box-border{
      position: relative;
      //flex: 1;
      transition: .7s;
      min-width: 270px;
<<<<<<< HEAD
      width: 49%;
      margin-bottom: 20px;
=======
      width: 24.5%;
>>>>>>> a732b3ef2563fa03fddc1eb937897dbb0823737e

      &:hover{
        background-color: rgba(0, 0, 0, 0.1);

        .advantages__img-services,.advantages__img-technology, .advantages__img-responsive, .advantages__img-skills{
          color: $gold;
        }

        &:after{
          box-sizing: border-box;
          animation: border-width 0.7s;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          border-top: 2px solid $dark;
          border-bottom: 2px solid $dark;
          width: 100%;
          height: 100%;

        }
        &:before{
          box-sizing: border-box;
          animation: border-height 0.7s;
          content: '';
          position: absolute;
          border-right: 2px solid $dark;
          border-left: 2px solid $dark;
          width: 100%;
          height: 100%;

        }
      }
      @keyframes border-width {
        0%{
          left: 50%;
          width: 0;
        }
        100%{
          left: 0;
          width: 100%;
        }
      }
      @keyframes border-height {
        from{
          top: 50%;
          height: 0;
        }
        to{
          top: 0;
          height: 100%;
        }
      }
    }

    &__item{
      display: flex;
      flex-direction: column;
      padding: 15px;
      text-align: center;
      color: $dark;

    }

    &__img{
<<<<<<< HEAD
      &-customers, &-services, &-technology, &-responsive, &-skills{
=======
      &-services, &-technology, &-responsive, &-skills{
>>>>>>> a732b3ef2563fa03fddc1eb937897dbb0823737e
        margin-top: 10px;
        font-family: 'icomoon' !important;
        font-size: 3rem;
        color: $dark;

      }
<<<<<<< HEAD
      &-customers{
        &::before{
          content: "\f0c0";
        }
      }
=======
>>>>>>> a732b3ef2563fa03fddc1eb937897dbb0823737e

      &-services{
        &::before{
          content: "\f0b1";
<<<<<<< HEAD
=======

>>>>>>> a732b3ef2563fa03fddc1eb937897dbb0823737e
        }
      }

      &-technology{
        &:before{
          content: "\f085";
        }
      }
      &-responsive{
        &:before{
          content: "\f121  \e900";
        }
      }
      &-skills{
        &:before{
          content: "\f1cb";
        }
      }
    }

    &__title{
      @extend %title;
      margin-left: 15%;
    }
    &__subtitle{
      @extend  %subtitle;
      font-size: 2.1rem;
      padding: 15px 0;
    }
    &__text{
      display: flex;
<<<<<<< HEAD
=======
      //align-items: center;
>>>>>>> a732b3ef2563fa03fddc1eb937897dbb0823737e
      @extend %text;
      text-align: center;
      height: 100%;

      ul{margin: 0;}

      &-skill{
<<<<<<< HEAD
        margin: 0 auto;
        max-width: 270px;
=======
>>>>>>> a732b3ef2563fa03fddc1eb937897dbb0823737e
        text-align: left;
      }
    }
  }
  //===== Advatages end

  //===== Services
  .services{
    display: flex;
    flex-direction: column;
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(23,26,30,1) 33%, rgba(43,48,55,1) 90%);
    padding: 40px 0 80px;
    position: relative;

    &__title{
      display: flex;
      align-items: center;
      color: $white;

      @extend %title;

      &:before{
        margin-right: 20px;
        font-family: 'icomoon';
        content: "\f0b1";
      }
    }
    &__box{
      display: flex;
      margin: 40px 0;
      position: relative;

      &-img{
        position: absolute;
        max-width: 1150px;
        overflow: hidden;
        width: 65%;
        height: 100%;
        left: 0;
        background-image: url('../upload/macwork.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        //flex: 1;
        box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.3);
      }

      .container{
        display: flex;
        justify-content: flex-end;
      }

      &-wrapper{
        padding: 15px;
        width: 33%;
      }
    }

    &__subtitle{
      color: $light;
      @extend %subtitle;
    }
    &__text{
<<<<<<< HEAD
      @extend %text;

      color: $light;
      list-style: none;
      display: flex;
      line-height: 1.15 !important;
      padding: 10px 0;


    }

    &__btn{
      @extend %button;
      max-width: 250px;
      margin: 0 auto;
      a{
        text-align: center;
      }
      &:before, &:after{
        transition: 0.5s;
        background-color: #21252B;

        @media(max-width: 1505px){background-color: #22262B;}
        @media(max-width: 1300px){background-color: #22262C;}
        @media(max-width: 1030px){background-color: #21252A;}
        @media(max-width: 950px){background-color: #20242A;}
        @media(max-width: 870px){background-color: #1A1D22;}
      }
=======
      color: $light;
      list-style: none;
      display: flex;

      @extend %text;
>>>>>>> a732b3ef2563fa03fddc1eb937897dbb0823737e
    }

    &__list{
      &:hover{
        .linet, .line, .lineb{
          &:before, &:after{
            //transition: .4s;
            background-color: $gold;
          }
        }
      }
      .services__text{
        line-height: 2.5;
        padding-left: 40px;
      }

      .linet, .line, .lineb{
        position: relative;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: rotateX(-50%);
          max-width: 100%;
          max-height: 100%;
          width: 20px;
          height: 4px;
          background-color: $white;
          transition: .4s;
        }

        &:after{
          content: '';
          position: absolute;
          width: 4px;
          height: 100%;
          left: 0;
          background-color: $white;
          transition: 1s;
        }
      }

      .linet{
        &:after{
          top: 50%;
        }
      }

      .lineb{
        &:after{
          bottom: 50%;
        }
      }

    }
  }
  //===== Services end

  //===== Porftoflio
  .portfolio{
    @extend .container;
    //background-color: silver;

    &__title{
      @extend %title;
    }

    &__inner{
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
    }

    &__slider{
      &-content{
        width: 74.5%;

        .slider__item-title{
          @extend %subtitle;
        }

        img{
          max-width: 100%;
        }
      }


      &-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 24.5%;
        padding-left: 20px;
        .slider__item{
          margin-bottom: 40px;
          width: 100% !important;
          img{
            max-width: 100%;
          }
        }
      }

      &-content, &-nav{
        .slick-prev, .slick-next{
          border: none;
          background-color: transparent;
          font-size: 3rem;
          line-height: 1;
          color: $dark;
          font-family: 'icomoon';
          outline: none;
          transition: .4s;
          &:hover{
            cursor: pointer;
            color: $gold;
          }
          &:before{
            content: "\f105";
          }
        }

        .slick-prev{
          margin-bottom: 20px;
          transform: rotate(-90deg);
        }
        .slick-next{
          margin-top: 20px;
          transform: rotate(90deg);
        }
      }
    }
  }
  //===== Porftoflio end

  //===== Footer
  .footer{
    background-color: $dark;
    color: $light;

    &__inner{
      @extend .container;
      padding: 20px 15px;
    }

<<<<<<< HEAD
    &__contact{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 20px;

    }

    &__title{
      @extend %subtitle;
      width: 100%;
      margin-bottom: 10px;
    }

    &__phone, &__email, &__skype, &__address{
      font-family: 'icomoon';
      margin-left: 30px;
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;

      a{
        color: $white;
        text-decoration: none;
      }
    }

    &__phone{
      margin-left: 0;
=======
    &__title{
      @extend %subtitle;
    }

    &__contact{
      display: flex;
      align-items: center;
    }
    &__phone, &__email, &__skype{
      font-family: 'icomoon';
      margin-left: 30px;
    }

    &__phone{
      margin-left: 50px;
>>>>>>> a732b3ef2563fa03fddc1eb937897dbb0823737e
      &:before{
        content: "\f095";
      }
    }

    &__email{
      &:before{
        content: "\f003";
      }
    }

<<<<<<< HEAD
    &__address{
      &:before{
        content: "\f041";
      }
    }

=======
>>>>>>> a732b3ef2563fa03fddc1eb937897dbb0823737e
    &__copy{
      margin-top: 20px;
      text-align: center;
    }
  }
  //===== Footer end

  //===== @media
  @media(min-width: 1290px)and(max-width: 1920px){
    .services__box-img{max-width: 60%;}
  }

  @media(max-width: 1200px){
    .advantages{
      &__box-border{
        width: 49.5%;
        margin-top: 10px;

        ul{
          max-width: 270px;
          margin: 0 auto;
        }
      }
    }
  }
  @media(min-width: 1101px){.header__nav{display: block !important;}}
  @media(max-width: 1100px){
    .header{
      .container{
        display: flex;
        justify-content: space-between;
      }

      &__logo{
        padding: 20px 0;
      }
      &__nav{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100vh;
        //min-height: 100vh;
        top: 0;
        left: 0;
        background-color: $dark;
        z-index: 3;

        ul{
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          margin: 0;

          li, li+li{
<<<<<<< HEAD
            width: 230px;
=======
            width: 200px;
>>>>>>> a732b3ef2563fa03fddc1eb937897dbb0823737e
            margin: 30px auto;
            a{text-align: center;}
          }
        }

        &-btn{
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: auto 30px;
          height: 25px;
          cursor: pointer;
          span{
            width: 35px;
            height: 4px;
            transition: .3s;
            background-color: $white;

            &:before{
              position: absolute;
              content: '';
              width: 35px;
              height: 4px;
              background-color: $white;
              margin-top: -10px;
              transition: .3s;
            }
            &:after{
              position: absolute;
              content: '';
              width: 35px;
              height: 4px;
              background-color: $white;
              margin-top: 10px;
              transition: .25s;
            }
          }

          &:hover{
            span{
              background-color: $gold;
              &:before{
                margin-top: -12px;
                background-color: $gold;
              }
              &:after{
                margin-top: 12px;
                background-color: $gold;
              }
            }
          }
        }

        &-close{
          position: absolute;
          top: 0;
          right: 0;
          margin-top: 16px;
          margin-right: 42px;
          transition: 0.4s;
          &:hover{
            color: $gold;
          }
          &:before{
            font-size: 4rem;
            font-family: 'icomoon';
            content: "\e901";
            cursor: pointer;

          }
        }
      }
    }
  }
  //===== @media 900
  @media(max-width: 900px){
    .portfolio__slider{
      &-content{
        width: 100%;
        display: flex;

        .slick-prev{
          margin: 0 10px 0 0;
          transform: rotate(180deg);

        }
        .slick-next{
          margin: 0 0 0 10px;
          transform: rotate(0);
        }
      }
      &-nav{
        display: none;
      }
    }

    .footer{
      &__contact{
        justify-content: center;
      }
      &__phone, &__emailP{
        margin-left: 15px;
      }
    }

  }
  //===== @media 870
  @media(max-width: 870px){
    .header{
      &__content-header{
        padding: 0 30px;
      }
    }

    .services__box{
      display: flex;
      flex-wrap: wrap;
      &-img{
        position: relative;
        width: 100%;
        height: 500px;
      }
      &-wrapper{
        width: 100%;
      }
    }
  }

  //===== @media 720
  @media(max-width: 720px){
    .advantages{
      &__box-border{
        width: 100%;
      }
    }

    .footer{
      &__contact{
        flex-wrap: wrap;
      }
      &__title{
        width: 100%;
        text-align: center;
      }
      &__phone, &__email{
        width: 49%;
        margin: 0;
        text-align: center;
      }
    }
  }

  //===== @media 540
  @media(max-width: 540px){
    .services__box-img{
      max-height: 300px;
    }
  }

  //===== @media 420
  @media(max-width: 420px){
    .footer{
      &__email, &__phone{
        width: 100%;
        margin: 10px 0;
      }
    }
  }
  //===== @media end
}

