//@import 'utils/fonts';
//@import 'utils/libs';
@import 'utils/mixins';
@import './utils/vars';
@import './header';
//@import "../../../node_modules/rfs/scss";
@import "~rfs/scss";
@import '../css/animate/animate';
//@import "src/assets/css/animate/animate";

#app{
  font-family: $mainFont;
  background-color: $default-bg-color;
  color: $default-text-color;
}

%subTitle{
  font-weight: 400; //regular
  @include font-size(22px);
  //font-size: rem(22);
  line-height: rem(32);
  letter-spacing: rem(7);
  color: $secondary-text-color;
  text-transform: uppercase;
}

%title{
  font-weight: 800; //extra-bold
  //font-size: rem(80);
  @include font-size(80px);
  //line-height: rem(86);
  letter-spacing: 0;
  color: $default-text-color;
  text-transform: uppercase;
}

%subText{
  font-weight: 500; //normal
  //font-size: rem(22);
  @include font-size(22px);
  line-height: rem(32);
  letter-spacing: rem(7);
  color: $secondary-text-color;
  text-transform: uppercase;
}
%text{
  font-weight: 800;
  //font-size: rem(40);
  @include font-size(40px);
  //line-height: rem(86);
  color: $default-text-color;
  text-transform: uppercase;
}
%textPopUp{
  @extend %text;
  @include font-size(16px);
}

%lightText{
  font-weight: 300; //light
  //font-size: rem(16);
  @include font-size(16px);
  line-height: rem(19);
  color: $secondary-text-color;
}

%infoBlockText{
  font-weight: 300; //light
  //font-size: rem(18);
  @include font-size(18px);
  line-height: rem(22);
  letter-spacing: rem(8);
  text-transform: uppercase;
  color: $secondary-text-color;
}

%navText{
  font-weight: 500;
  //font-size: 12px;
  @include font-size(12px);
  line-height: 14px;
  color: $default-text-color;
  letter-spacing: 3px;
}
%paddingRightContainer{
  @include padding-right(80px);
}
%paddingLeftContainer{
  @include padding-left(135px);
}

.container{
  max-width: 1920px;
  margin: 0 auto;
}

.arrow__shadow{
  &:hover{
    cursor: pointer;
    filter: drop-shadow( 0px 0px 3px rgba(255,255,255,1));
  }
}

.slick-slider::v-deep{
  .custom-arrow{
    position: absolute;
    display: inline-block;
    //width: 20px;
    //height: 20px;
    content: none;
    top: rem(40);
    right: rem(80);
    font-size: 0;

    @media(max-width: 1280px){
      //top: rem(100);
    }
    @media(max-width: 870px){
      //top: rem(120);
    }

    &:hover{
      cursor: pointer;
      filter: drop-shadow( 0px 0px 3px rgba(255,255,255,1));
    }
  }
  .slick-prev{
    left: unset;
    right: rem(140);
    z-index: 10;
    content: '';
  }
  .slick-next{
    content: '';
    z-index: 10;
  }
}

%textBoxLine{
  @include margin(0 10px);
  display: inline-block;
  min-width: 80px;
  width: 80px;
  height: 1px;
  background-color: $secondary-text-color;
}

%imageShadowLeft{
  position: absolute;
  display: block;
  top: 0;
  height: 102%;
  width: 102%;
  content: '';
  box-shadow: inset -40px 0px 70px 80px rgba(23, 25, 25, 1),inset -15px 0 15px 15px rgba(23, 25, 25, 1);
}

%imageShadowRight{
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  height: 92%;
  width: 100%;
  content: '';
  box-shadow: inset 40px 0px 70px 80px rgba(23, 25, 25, 1),inset -5px 0 15px 15px rgba(23, 25, 25, 1);
}